td,th{
    text-align: center;
    padding: 25px 25px;
}

table{
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
}
thead > tr{
    background: linear-gradient(to right,
    #e18f8f 20%,
    #d77171 20%, #d75959 40%,
    #d74e4e 40%, #ce3e3e 60%,
    #d24141 60%, #d92525 80%,
    #d21515 80%, #de0606 100%);
}

tbody > tr > th{
    background: linear-gradient(to right,
    #de0606,
    #de0606
    );
}

tbody {
    background: repeating-linear-gradient(
            to bottom,
            #ce3e3e 20%,
            #ce3e3e 40%,
            #d21515 40%,
            #d21515 60%
    );
}