a {
    color: violet;
    text-decoration: underline;
}

.main-menu > li > a {
    color: green;
}

.square-marker {
    list-style-type: square;
}

.icon-marker {
    list-style-type: disc;
}

.main-menu ul {
    list-style-type: none;
}

.square-marker a {
    text-decoration: none;
}

ol {
    padding-left: 40px;
}

ol li {
    margin-bottom: 10px;
    font-size: 16px;
}
